@model ProductVM

@{
    ViewBag.Title = "Edit";
}


<form id="editForm">

    <div class="form-horizontal">
        <hr />

        <h2>Create Product</h2>
        <br />

        <input name="Id" type="hidden" value="@Model.Product.Id"/>

        <div class="form-group">
            <label>Category</label>
            <select name="CategoryId">
                @foreach (var item in Model.categoryList)
                {
                    if (item.Id == Model.Product.CategoryId)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="Name" value="@Model.Product.Name"/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name="Description"  value="@Model.Product.Description"/>
        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" name="Price" value="@Model.Product.Price"/>
        </div>

        @*<div class="form-group">
                <label>Category_Image</label>
                <input id="ImageURL" name="ImageURL" hidden />
                <input type="file" class="form-control" id="imageUpload" name="Image" accept=".png,.jpg" />
                <img id="categoryImage" width="70" />
            </div>*@
        <div class="form-group">
            <button type="button"  id="editBtn">Update</button>
        </div>
    </div>
</form>

<script>
    $("#editBtn").click(function () {
        @*alert("good");*@
        $.ajax({
            type: "POST",
            url: "/Product/Edit/",
            data: $("#editForm").serialize(),
        })
        .done(function (response) {
            $("#tableContainer").html(response);
            $("#newForm").html("");
        })
        .fail(function () {
            alert("fail");
        })
    })
</script>