@model IEnumerable<Product>

@{
    ViewBag.Title = "ProductList";
}

@*<div id="tableContainer">*@

    <h2>ProductList</h2>

    <br />
    <div class="row">
        <div class="col-lg-10">
            <form method="get" action="/Product/ProductList">
                <div class="form-inline">
                    <input type="text" class="form-control" id="txtSearch" />
                    <button type="button" class="btn btn-primary" id="btnSearch">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-lg-1">
            <p>
                <button class="btn btn-primary" id="newBtn">New Product</button>
            </p>
        </div>
    </div>
    
    

    <br />

    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <button type="button" class="btn btn-primary editBtn" data-id="@item.Id">Edit</button> |
                    <button type="button" class="btn btn-danger deleteBtn" data-id="@item.Id">Delete</button>
                </td>
            </tr>
        }

    </table>
@*</div>

<div id="newForm">

</div>*@

<script>
    $("#btnSearch").click(function () {
        var searchVal = $("#txtSearch").val();
        @*alert(searchVal);*@

        $.ajax({
            url: "/Product/ProductList",
            data: { search: searchVal }
        })
        .done(function (response) {
        @*alert("working good");*@
            @*alert(response);*@
            $("#tableContainer").html(response);
        })
        .fail(function () {
            alert("fail");
        })
    })

    $("#newBtn").click(function () {
        $.ajax({
            url: "/Product/Create/",
        })
        .done(function (response) {
            alert(response);
            $("#newForm").html(response);
        })
        .fail(function () {
            alert("fail");
        })
    })

    $(".editBtn").click(function () {
        @*alert($(this).attr("data-id"));*@
        debugger;
        var pid = $(this).attr("data-id");
        $.ajax({
            url: "/Product/Edit/",
            data: {
                id: pid
            }
        })
        .done(function (response) {
            @*alert(response);*@
            $("#newForm").html(response);
        })
        .fail(function () {
            alert("fail");
        })
    })

    $(".deleteBtn").click(function () {
        @* alert($(this).attr("data-id"));*@
        var r = confirm("Do u want to delet ??");
        if (r==true) {
            var pid = $(this).attr("data-id");
            $.ajax({
                type: "Post",
                url: "/Product/Delete/",
                data: {
                    id: pid
                }
            })
            .done(function (response) {
                @* alert(response);*@
                $("#tableContainer").html(response);
                alert("Deleted Successfuly")
            })
            .fail(function () {
                alert("fail");
            })
        }
        
    })
</script>