@model IEnumerable<Product>

@{
    ViewBag.Title = "ProductList";
}

@*<div id="tableContainer">*@

<br />
    <h2 class="display-4">Products</h2>

    <br />
    <div class="row">
        <div class="col-lg-10">
            <form method="get" action="/Product/ProductList">
                <div class="row">
                    <div class="col-4">
                        <input type="text" id="txtSearch" />
                    </div>
                    <div>
                        <button type="button" class="mt-1" id="btnSearch">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <br />
        <div class="col-lg-2">
            <p>
                <button type="submit" class="bg-primary" id="newBtn">New Product</button>
            </p>
        </div>
    </div>
    
    

    <br />

    <table class="table">
        <tr>
            <th width="5%">
                Id
            </th>
            <th width="10%">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th width="10%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="30%">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th width="10%">
                Category
            </th>
            <th width="20%"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.Category != null)
                    {
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    }
                    else
                    {
                        <p>-</p>
                    }
                </td>
                <td>
                    <button type="button" class="btn btn-primary editBtn" data-id="@item.Id">Edit</button> |
                    <button type="button" class="btn btn-danger deleteBtn" data-id="@item.Id">Delete</button>
                </td>
            </tr>
        }

    </table>

<br />
<br />
@*</div>

<div id="newForm">

</div>*@

<script>
    $("#btnSearch").click(function () {
        var searchVal = $("#txtSearch").val();
        @*alert(searchVal);*@

        $.ajax({
            url: "/Product/ProductList",
            data: { search: searchVal }
        })
        .done(function (response) {
        @*alert("working good");*@
            @*alert(response);*@
            $("#tableContainer").html(response);
        })
        .fail(function () {
            alert("fail");
        })
    })

    $("#newBtn").click(function () {
        $.ajax({
            url: "/Product/Create/",
        })
        .done(function (response) {
            @*alert(response);*@
            $("#newForm").html(response);
        })
        .fail(function () {
            alert("fail");
        })
    })

    $(".editBtn").click(function () {
        @*alert($(this).attr("data-id"));*@
        debugger;
        var pid = $(this).attr("data-id");
        $.ajax({
            url: "/Product/Edit/",
            data: {
                id: pid
            }
        })
        .done(function (response) {
            @*alert(response);*@
            $("#newForm").html(response);
        })
        .fail(function () {
            alert("fail");
        })
    })

    $(".deleteBtn").click(function () {
        @* alert($(this).attr("data-id"));*@
        var r = confirm("Do u want to delet ??");
        if (r==true) {
            var pid = $(this).attr("data-id");
            $.ajax({
                type: "Post",
                url: "/Product/Delete/",
                data: {
                    id: pid
                }
            })
            .done(function (response) {
                @* alert(response);*@
                $("#tableContainer").html(response);
                alert("Deleted Successfuly")
            })
            .fail(function () {
                alert("fail");
            })
        }
        
    })
</script>