@{
    //ConfigurationService config;//= New ConfigurationService();
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta charset="utf-8">
    <title>ClothBazar</title>
    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/bootstrap.css.map">


    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/colors/color1.css" id="colors">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/animate.css">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/shortcodes.css">





    <!-- Favicon and touch icons  -->
    <link href="~/Content/icon/favicon.png" rel="shortcut icon">
    <script src="~/Content/javascript/jquery.min.js"></script>

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
</head>

<body class="header_sticky header-style-1 has-menu-extra">
    <!-- Preloader -->

    @{
        // Get the current URL or route
        var currentUrl = HttpContext.Current.Request.RawUrl;
    }

    <div id="loading-overlay">
        <div class="loader"></div>
    </div>

    <!-- Boxed -->
    <div class="boxed">
        <div id="site-header-wrap">
            <!-- Header -->
            <header id="header" class="header header-container clearfix">
                <div class="container clearfix" id="site-header-inner">
                    <div id="logo" class="logo float-left">
                        <a href="@Url.Action("Index","Home")" title="logo" class="font-weight-bold h3 text-danger">
                            ClothBazar
                        </a>
                    </div><!-- /.logo -->
                    <div class="mobile-button"><span></span></div>

                    @*_______________ Nav Linke ____________________*@
                    <ul class="menu-extra">
                        <li class="box-search">
                            <a class="icon_search header-search-icon" href="#"></a>
                            <form role="search" method="get" class="header-search-form" action="#">
                                <input type="text" value="" name="s" class="header-search-field" placeholder="Search...">
                                <button type="submit" class="header-search-submit" title="Search">Search</button>
                            </form>
                        </li>

                        <li class="box-cart nav-top-cart-wrapper">
                            <a class="icon_cart nav-cart-trigger @(currentUrl == Url.Action("Checkout","Shop") ? "active" : "")" href="@Url.Action("Checkout","Shop")"><span class="font-weight-bold" id="productCartCount">3</span></a>
                            @*<div class="nav-shop-cart">
                                <div class="widget_shopping_cart_content">
                                    <div class="woocommerce-min-cart-wrap">
                                        <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                                            <li class="woocommerce-mini-cart-item mini_cart_item">
                                                <span>No Items in Shopping Cart</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>*@
                        </li>

                        @Html.Partial("_LoginPartial")
                    </ul><!-- /.menu-extra -->
                    @*_______________ Nav Linke ____________________*@
                    <div class="nav-wrap mr-5 pr-5">
                        <nav id="mainnav" class="mainnav d-flex justify-content-start">
                            <ul class="menu">
                                <li class="@(currentUrl == Url.Action("Index","Home") ? "active" : "")">
                                    <a href="@Url.Action("Index","Home")">HOME</a>
                                </li>
                                <li class="@(currentUrl == Url.Action("Index","Shop") ? "active" : "")">
                                    <a href="@Url.Action("Index","Shop")">SHOP</a>
                                    @*<ul class="submenu">
                                        <li>
                                            <a href="shop-3col.html">Shop Layouts</a>
                                            <ul class="submenu">
                                                <li><a href="shop-3col.html">Three Columns</a></li>
                                                <li><a href="shop-4col.html">Four Columns</a></li>
                                                <li><a href="shop-5col.html">Five Columns</a></li>
                                                <li><a href="shop-3col-slide.html">Slidebar Three Columns</a></li>
                                            </ul>
                                        </li>
                                    </ul>*@
                                </li>
                                <li>
                                    @*<a href="@Url.Action("Contact","Home")">CONTACT</a>*@
                                </li>
                            </ul>
                        </nav><!-- /.mainnav -->
                    </div><!-- /.nav-wrap -->
                </div><!-- /.container-fluid -->
            </header><!-- /header -->
        </div><!-- /#site-header-wrap -->


        @RenderBody()


        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="widget widget-link">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Online Store</a></li>
                                <li><a href="blog-list.html">Blog</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div><!-- /.widget -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-sm-6 col-md-3">
                        <div class="widget widget-link link-login">
                            <ul>
                                <li><a href="#">Login/ Register</a></li>
                                <li><a href="#">Your Cart</a></li>
                                <li><a href="#">Wishlist items</a></li>
                                <li><a href="#">Your checkout</a></li>
                            </ul>
                        </div><!-- /.widget -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-sm-6 col-md-3">
                        <div class="widget widget-link link-faq">
                            <ul>
                                <li><a href="faqs.html">FAQs</a></li>
                                <li><a href="#">Term of service</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Returns</a></li>
                            </ul>
                        </div><!-- /.widget -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-sm-6 col-md-3">
                        <div class="widget widget-brand">
                            <div class="logo logo-footer">
                                <a href="@Url.Action("Index","Home")" title="logo" class="font-weight-bold h3 text-danger">
                                    ClothBazar
                                </a>
                            </div>
                            <ul class="flat-contact">
                                <li class="address">@ConfigurationService.Instance.GetConfig("companyAddress").Value</li>
                                <li class="phone">@ConfigurationService.Instance.GetConfig("phoneNumber").Value</li>
                                <li class="email">@ConfigurationService.Instance.GetConfig("email").Value</li>
                            </ul><!-- /.flat-contact -->
                        </div><!-- /.widget -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </footer><!-- /.footer -->

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright text-center">Copyright 2018 <a href="#">Modaz</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>

    <!-- Javascript -->
    <script src="~/Content/javascript/jquery.min.js"></script>
    <script src="~/Content/javascript/tether.min.js"></script>
    <script src="~/Content/javascript/bootstrap.min.js"></script>
    <script src="~/Content/javascript/jquery.easing.js"></script>
    <script src="~/Content/javascript/parallax.js"></script>
    <script src="~/Content/javascript/jquery-waypoints.js"></script>
    <script src="~/Content/javascript/jquery-countTo.js"></script>
    <script src="~/Content/javascript/jquery.countdown.js"></script>
    <script src="~/Content/javascript/jquery.flexslider-min.js"></script>
    <script src="~/Content/javascript/images-loaded.js"></script>
    <script src="~/Content/javascript/jquery.isotope.min.js"></script>
    <script src="~/Content/javascript/magnific.popup.min.js"></script>
    <script src="~/Content/javascript/jquery.hoverdir.js"></script>
    <script src="~/Content/javascript/owl.carousel.min.js"></script>
    <script src="~/Content/javascript/equalize.min.js"></script>
    <script src="~/Content/javascript/gmap3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEU6OT3xqCksCetQeNLIPps6-AYrhq-s&amp;region=GB"></script>
    <script src="~/Content/javascript/jquery-ui.js"></script>
    <script src="~/Content/javascript/switcher.js"></script>
    <script src="~/Content/javascript/jquery.cookie.js"></script>
    <script src="~/Content/javascript/main.js"></script>

    <!-- Revolution Slider -->
    <script src="~/Content/rev-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/rev-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/javascript/rev-slider.js"></script>
    <!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.video.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>



    <script>

        //__________________ AddToCart Product ______________________
        var products;
        $(".addToCartBtn").click(function () {

            var existingCookieData = $.cookie('CartProducts');
            if (existingCookieData != null || existingCookieData == "" || existingCookieData != undefined) {
                products = existingCookieData.split('-');
            }
            else {
                products = [];
            }

            var productId = $(this).attr("data-id");
            products.push(productId);
            $.cookie('CartProducts', products.join('-'), { path: '/' });

            loadProductCart();
            //________ SweetAlert Toaster _________
            const Toast = Swal.mixin({
                toast: true,
                position: 'right',
                background: '#FF6D60',//'#fff',
                color: '#fff',
                showConfirmButton: false,
                timer: 600,
                timerProgressBar: true,
            })
            Toast.fire({
                icon: 'success',
                title: 'Add ToCart Successfully'
            })
        })
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
