@model CheckoutVM
@{
    ViewBag.Title = "Checkout";
}


<style>
    .error {
        color: red
    }
</style>
<div class="container mb-5">

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="title-section">
                <h2 class="title">
                    Final CheckOut
                </h2>
            </div><!-- /.title-section -->
        </div><!-- /.col-md-12 -->
    </div>
    @using (Html.BeginForm("CheckoutFinalPost", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-6">
                <h3 class="mb-4 ml-4">User Information</h3>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.userDetail.userName, new { @class = "col-md-2 control-label" })
                    @Html.TextBoxFor(m => m.userDetail.userName, new { @class = "form-control", placeholder = "Enter Username" })
                    @Html.ValidationMessageFor(m => m.userDetail.userName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.userDetail.email, new { @class = "col-md-2 control-label" })
                    @Html.TextBoxFor(m => m.userDetail.email, new { @class = "form-control", placeholder = "Enter Email" })
                    @Html.ValidationMessageFor(m => m.userDetail.email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.userDetail.address, new { @class = "col-md-2 control-label" })
                    @Html.TextAreaFor(m => m.userDetail.address, new { @class = "form-control", placeholder = "Enter address" })
                    @Html.ValidationMessageFor(m => m.userDetail.address, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.userDetail.phoneNumber, new { @class = "col-md-2 control-label" })
                    @Html.TextBoxFor(m => m.userDetail.phoneNumber, new { @class = "form-control", placeholder = "Enter phone #" })
                    @Html.ValidationMessageFor(m => m.userDetail.phoneNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div>
                        <label>Payment Method</label>
                        <select id="userDetail.paymentType" name="userDetail.paymentType">
                            <option disabled selected>------ Select PaymentMentho ------</option>
                            <option value="1">JazzCash</option>
                            <option value="2">BankTransaction</option>
                            <option value="3">OnlinePayment</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-6 px-5">
                <h3 class="text-center">Final Price</h3>
                <div class="d-flex justify-content-between px-5 mt-5">
                    <h5>Total Products</h5>
                    <h5>@Model.TotalProduct</h5>
                </div>
                <div class="d-flex justify-content-between px-5 mt-5">
                    <h5>Total Price</h5>
                    <h5>Rs <b> @Model.NetAmount </b></h5>
                </div>
                <div class="d-flex justify-content-between px-5 mt-5">
                    <h5>Extra Chareges</h5>
                    <h5>Rs <b>25</b></h5>
                </div>
                <div class="d-flex justify-content-between px-5 mt-5">
                    <h5>Net Amount</h5>
                    @{
                        decimal netA = Model.NetAmount - 25;
                    }
                    <h5>Rs <b>@netA </b></h5>
                </div>
                <div class="d-flex justify-content-center px-5 mt-5">
                    <button type="submit" class="btn btn-primary w-100">Buy</button>
                </div>
            </div>
        </div>

    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
