@model ShopVM
@using ClothBaza.Services.Enum


<!-- Page title -->
<div class="page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Shop Products</h1>
                </div><!-- /.page-title-heading -->
                <!--<div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="shop-3col.html">Shop</a></li>
                        <li><a href="shop-3col-slide.html">Slidebarshop</a></li>
                    </ul>
                </div>-->
                <!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<section class="flat-row main-shop shop-slidebar">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar slidebar-shop">
                    <div class="widget widget-search">
                        <form role="search" method="get" class="search-form" action="@Url.Action("Index","Shop")">
                            <label>
                                <input type="search" class="search-field" placeholder="Search …" value="" name="searchTerm">
                            </label>
                            <input type="submit" class="search-submit" value="Search">
                        </form>
                    </div>

                    <div class="widget widget-sort-by">
                        <a class="btn btn-danger" href="@Url.Action("Index","Shop")">Clear Filter</a>
                    </div>

                    <div class="widget widget-sort-by">
                        <h5 class="widget-title">
                            Sort By
                        </h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "Shop", new {sortyBy = (int)sortEnum.Default, CategoryId  = Model.CategoryId}  )" class="@(Model.SortBy == (int)sortEnum.Default ? "active" : "" )">Default-Newest</a></li>
                            <li><a href="@Url.Action("Index", "Shop", new {sortyBy= (int)sortEnum.Popularity, CategoryId  = Model.CategoryId})" class="@(Model.SortBy == (int)sortEnum.Popularity  ? "active" : "" )">Popularity</a></li>
                            <li><a href="@Url.Action("Index", "Shop", new {sortyBy= (int)sortEnum.PriceLowToHeigh, CategoryId  = Model.CategoryId})" class="@(Model.SortBy == (int)sortEnum.PriceLowToHeigh ? "active" : "" )">Price: low to high</a></li>
                            <li><a href="@Url.Action("Index", "Shop", new {sortyBy= (int)sortEnum.PriceHeighToLow, CategoryId  = Model.CategoryId})" class="@(Model.SortBy == (int)sortEnum.PriceHeighToLow ? "active" : "" )">Price: high to low</a></li>
                        </ul>
                    </div>

                    @*color Section is Removed form Template *@
                    @*Size Section is Removed form Template *@

                    <!-- /.widget-size -->

                    <div class="widget widget-price">
                        <h5 class="widget-title">Filter by price</h5>
                        <div class="price-filter">
                            <div id="slide-range"></div>
                            <p class="amount">
                                Price: <input type="text" id="amount" disabled="">
                            </p>
                        </div>
                    </div>

                    <div class="widget widget_tag">
                        <h5 class="widget-title">
                            Category
                        </h5>
                        <div class="tag-list">
                            <a href="@Url.Action("Index", "Shop")" class="@(Model.CategoryId == 0 || Model.CategoryId == null ? "active" : string.Empty )">Clear</a>
                            @*<a href="#" class="active">Bags</a>*@
                            @foreach (var item in Model.FeaturedCategory)
                            {
                                <a href="@Url.Action("Index", "Shop", new {categoryId = item.Id , sortyBy = Model.SortBy})" class="@(Model.CategoryId == item.Id ? "active" : string.Empty )">@item.Name</a>
                            }
                        </div>
                    </div><!-- /.widget -->
                </div><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-9">
                <div id="shopProductDiv">
                    @{
                        var filterPro = new ShopProductFilterVM();
                        filterPro.Products = Model.Products;
                        Html.RenderAction("filterProducts", filterPro);
                    }
                </div>
            </div><!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->
<br />
<br />
@section scripts{
    <script>
        var time;
        $("#slide-range").slider({
            range: true,
            min: 0,
            max: '@Model.MaximumPrice',
            values: [0, '@Model.MaximumPrice'],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + ".00" + " - " + "$" + ui.values[1] + ".00");
                clearTimeout(time);
                time = setTimeout(function () {
                    //__ Calling ProductFunction
                    GetData(ui.values[0], ui.values[1]);
                },500);
            }
        });


        function GetData(minPrice,maxPrice) {
            $.ajax({
                url: "@Url.Action("filterProducts", "Shop")",
                data: {
                    minimumPrice: minPrice,
                    maximumPrice: maxPrice
                }
            })
            .done(function (html) {
                $('#shopProductDiv').html(html);
            })
            .fail(function () {
                alter("sdfdsf");
            })
        }
    </script>
}

