@model ShopVM
@using ClothBaza.Services.Enum

<!-- Page title -->
<div class="container">
    <div class="page-title-heading mt-5 text-center">
        <h1 class="title">Shop</h1>
    </div><!-- /.page-title-heading -->
</div><!-- /.container -->
<section class="flat-row main-shop shop-slidebar">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar slidebar-shop">
                    <div class="widget widget-search">
                        <form role="search" method="get" class="search-form" action="@Url.Action("Index","Shop")">
                            <label>
                                <input type="search" class="search-field" placeholder="Search …" value="" name="searchTerm">
                            </label>
                            <input type="submit" class="search-submit" value="Search">
                        </form>
                    </div>

                    <div class="widget widget-sort-by">
                        <button class="btn btn-danger" id="clearFilter">Clear Filter</button>
                    </div>

                    <div class="widget widget-sort-by">
                        <h5 class="widget-title">
                            Sort By
                        </h5>
                        <ul>
                            <li><a href="#" class="sort-link" data-sort-type="@((int)sortEnum.Default)">Default-Newest</a></li>
                            <li><a href="#" class="sort-link" data-sort-type="@((int)sortEnum.Popularity)">Popularity</a></li>
                            <li><a href="#" class="sort-link" data-sort-type="@((int)sortEnum.PriceLowToHeigh)">Price: low to high</a></li>
                            <li><a href="#" class="sort-link" data-sort-type="@((int)sortEnum.PriceHeighToLow)">Price: high to low</a></li>
                        </ul>
                    </div>

                    @*color Section is Removed form Template *@
                    @*Size Section is Removed form Template *@

                    <!-- /.widget-size -->
                    <div class="widget widget-price">
                        <h5 class="widget-title">Filter by price</h5>
                        <div class="price-filter">
                            <div id="slide-range"></div>
                            <p class="amount">
                                Price: <input type="text" id="amount" disabled="">
                            </p>
                        </div>
                    </div>

                    <div class="widget widget_tag">
                        <h5 class="widget-title">
                            Category
                        </h5>
                        <div class="tag-list">
                            <a data-categoryId="" href="#" class="category-link @(Model.CategoryId == 0 || Model.CategoryId == null ? "active" : string.Empty )">Clear</a>
                            @foreach (var item in Model.FeaturedCategory)
                            {
                                <a  data-categoryId="@item.Id" href="#" class="category-link @(Model.CategoryId == item.Id ? "active" : string.Empty )">@item.Name</a>
                            }
                        </div>
                    </div><!-- /.widget -->
                </div><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-9">
                <div id="shopProductDiv">
                    @{
                        var filterPro = new ShopProductFilterVM();
                        filterPro.Products = Model.Products;
                        filterPro.Pager = Model.Pager;
                        Html.RenderAction("filterProducts", filterPro);
                    }
                </div>
            </div><!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->
<br />
<br />
@section scripts{

<script>
        $(document).ready(function () {
            var time;

            //__ Storing Last Values ___
            var search = null;
            var minPrice = null;
            var maxPrice = null;
            var categoryId = null;
            var sortBy = null;
            var pageNo = null;

            //var categoryId = null; // Initialize categoryId as null
            applyFilters();

            //clearFilter
            $("#clearFilter").click(function (e) {
                e.preventDefault();
                search = null;
                minPrice = null;
                maxPrice = null;
                categoryId = null;
                sortBy = null;
                pageNo = null;
                applyFilters(search, minPrice, maxPrice, categoryId, sortBy, pageNo);
                //____ Active ___
                $(".sort-link").removeClass("active"); // Remove active class from all sorting links
                $(".category-link").removeClass("active"); // Remove active class from all sorting links
            });


            //Search
            $(".search-form").submit(function (e) {
                e.preventDefault(); // Prevent the form from submitting traditionally
                var search = $(this).find('.search-field').val(); // Get the search term
                applyFilters(search, minPrice, maxPrice, categoryId, sortBy, pageNo);
            });

            //Sorting
            $(document).on("click", ".sort-link", function (e) {
                e.preventDefault();
                sortBy = $(this).data("sort-type"); // Get the sorting type from data attribute
                applyFilters(search, minPrice, maxPrice, categoryId, sortBy, pageNo);
                //____ Active ___
                $(".sort-link").removeClass("active"); // Remove active class from all sorting links
                $(this).addClass("active");
            });

           $("#slide-range").slider({
                range: true,
                min: 0,
                max: '@Model.MaximumPrice',
                values: [0, '@Model.MaximumPrice'],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + ".00" + " - " + "$" + ui.values[1] + ".00");
                    clearTimeout(time);
                    time = setTimeout(function () {
                        minPrice = ui.values[0];
                        maxPrice = ui.values[1];
                        //__ Calling ProductFunction
                        applyFilters(search, minPrice, maxPrice, categoryId, sortBy, pageNo);
                    },500);
                }
            });


            // Category Filter
           $(document).on("click", ".category-link", function (e) {
               e.preventDefault();
               categoryId = $(this).data("categoryid"); // Corrected attribute name
               applyFilters(search, minPrice, maxPrice, categoryId, sortBy, pageNo);;
               //____ Active ___
               $(".category-link").removeClass("active"); // Remove active class from all sorting links
               $(this).addClass("active");
           });

            // Pagination
            $(document).on("click", ".pageButton", function (e) {
                e.preventDefault();
                pageNo = $(this).data("pageno");
                applyFilters(search, minPrice,maxPrice,categoryId, sortBy, pageNo);
            });

            function applyFilters(search, minPrice, maxPrice, categoryId, sortBy, pageNo) {
                $.ajax({
                    url: '@Url.Action("filterProducts", "Shop")',
                    data: {
                        searchTerm:search, 
                        sortyBy: sortBy,
                        minimumPrice: minPrice,
                        maximumPrice: maxPrice,
                        pageNo: pageNo,
                        categoryId: categoryId // Include categoryId in the Ajax request
                    }
                })
                .done(function (response) {
                    $("#shopProductDiv").html(response);
                })
                .fail(function () {
                    alert("Failed to load products.");
                });
            }
        });

</script>

}

